@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto+Condensed:wght@100&display=swap');

body {
  font-family: 'Roboto Condesed', sans-serif;
}

/* -------------------------------Navbar Css-------------------------------------- */
nav {
  z-index: 2;
}

:root {
  --primary-white: #fff;
  --primary-orange: #de8313;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-light-orange: #c19b6c;
  --primary-hover-orange: #de831385;
}

/* Nav Link */

nav a.nav-link {
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white);
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.2rem;
  padding: 0;
  height: 3.5rem;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-orange);
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
  color: var(--primary-orange);
}

/* -------------------------------Header Css-------------------------------------- */

.header-wraper {
  position: relative;
  background: url(simple-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condesed', sans-serif;
  z-index: 1;
}

.main-info h2 {
  color: var(--primary-orange);
  text-transform: capitalize;
}

/* -------------------------------react-Typed Css-------------------------------------- */

.typed-text {
  color: var(--primary-white);
  font-size: 2rem;
}

/* -------------------------------header-main-Button Css-------------------------------------- */

.main-btn {
  border: 1px solid var(--primary-light-orange);
  text-transform: uppercase;
  border-radius: 15px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
  background-color: var(--primary-orange);
}

.main-btn:hover {
  text-decoration: none;
  background-color: var(--primary-hover-orange);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/* particles */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

/* -------------------------------About Css-------------------------------------- */
.about {
  position: relative;
  background-color: #87ceeb;
  transition: background-color 0.5s ease;
  padding: 60px 0;
}

.about:hover {
  background-color: #add8e6;
}

.about img {
  max-width: 100%;
  height: auto;
  border: 5px solid #fff;
}

@media (max-width: 767px) {
  .about img {
    border-radius: 50%;
  }
}
