@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto+Condensed:wght@100&display=swap');

body {
  font-family: 'Roboto Condesed' sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

/* Nav Link */

nav a.nav-link {
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white);
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.2rem;
  padding: 0;
  height: 3.5rem;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-orange);
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
  color: var(--primary-orange);
}
